.input-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 16px;
    
    
}
.result{
    flex: 1;
    font-size: 24px;
    max-width: 100%;
}
.result h1 {
    max-width: 320px;
}
.text{
    display: flex;
    flex: 1;
    font-size: 38px;
    min-height: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    
   
  
}
.text h3 {
    max-width: 320px;
   
}
