body {
background-color: black;
  
}
.App {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 350px;
  border-radius: 16px;
  background-color: white;
}
.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
}
.novyh {
  width: 200px;
  height: 200px;
  background-color: grey;
  color: white;
}
